// Place all the styles related to the Costumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.has-background-light
  background-color: #e9e9e9

h1
  font-family: Helvetica Neue
  
container
  display: flex

.search-results__results-item
  position: relative
  padding: 20px
  background-color: hsl(0, 0%, 98%)

.search-results__results-item a
    position: absolute
    display: block
    top: 0
    left: 0
    width: 100%
    height: 100%

@media screen and (min-width: 1200px)
  .search-results__results-container 
    column-count: 3
    column-gap: 15px
    column-fill: auto

@media screen and (min-width: 993px) and (max-width: 1199px)
  .search-results__results-container 
    column-count: 3
    column-gap: 15px
    column-fill: auto

@media screen and (min-width: 769px) and (max-width: 992px) 
  .search-results__results-container 
    column-count: 3
    column-gap: 15px
    column-fill: auto

@media screen and (min-width: 481px) and (max-width: 768px)
  .search-results__results-container 
    column-count: 2
    column-gap: 15px
    column-fill: auto

@media screen and (max-width: 480px)
  .search-results__results-container 
    column-count: 1
    column-gap: 15px
    column-fill: auto

.search-results__results-item
  display: inline-block
  break-inside: avoid
  background-color: #f6f6f6 !important
  padding: 1em
  margin-right: 3px
  margin-bottom: 15px
  font-size: 14px

.search-results__results-image img
  margin-top: 1em
  margin-bottom: 1em
